<nav class="sub-nav">
  <div class="container">
    {{breadcrumbs}}
  </div>
</nav>

<div class="category-container">
  <header data-name="{{ category.name }}" class="page-header">
    <div class="container">
      <div class="category-name">
        <h1 class="category__title">{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
        </div>
    </div>

    <div class="bubble-1 rellax" data-rellax-speed="7"></div>
    <div class="bubble-2 rellax" data-rellax-speed="5"></div>
    <div class="bubble-3 rellax" data-rellax-speed="2"></div>
  </header>
  <div class="container clearfix">
    <div class="section-tree">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>

      {{#each sections}}
        <section class="section">
          <h2 class="section-tree-title">
            <a href="{{url}}">{{name}}</a>
          </h2>

          <ul class="article-list">
            {{#if sections}}
              {{#each sections}}
                <li class="article-list-item">
                  <a class="article-list-link" href="{{url}}">
                    <span class="article-list-link__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M18,2 L10,2 L8.586,0.586 C8.211,0.211 7.702,0 7.172,0 L2,0 C0.9,0 0,0.9 0,2 L0,14 C0,15.1 0.9,16 2,16 L18,16 C19.1,16 20,15.1 20,14 L20,4 C20,2.9 19.1,2 18,2 Z" transform="translate(2 4)"/>
                      </svg>
                    </span>
                    {{name}}
                  </a>
                </li>
              {{/each}}
            {{/if}}

            {{#if articles}}
              {{#each articles}}
                <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                  <a href="{{url}}" class="article-list-link">
                    {{#if promoted}}
                      <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                    {{/if}}

                    {{title}}

                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </a>
                </li>
              {{/each}}
            {{/if}}
          </ul>

          {{#if sections}}
            {{#if more_articles}}
              <a href="{{url}}" class="see-all-articles">
                {{t 'show_all_articles'}} and sections
              </a>
            {{/if}}
          {{else}}
            {{#if articles}}
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            {{else}}
              <i class="category-empty">
                <a href="{{../category.url}}">{{t 'empty'}}</a>
              </i>
            {{/if}}
          {{/if}}
        </section>

        {{else}}
          <section class="section">
            <i class="category-empty">
              <a href="{{category.url}}">{{t 'empty'}}</a>
            </i>
          </section>
      {{/each}}
    </div>
  </div>
</div>

<div class="billboard billboard--left">
  <div class="container">
    <div class="billboard__illustration">
      <img src="{{asset 'find-help.png'}}" alt="">
    </div>

    <div class="billboard__content">
      <h2 class="billboard__heading">{{ settings.contact_support_heading }}</h2>
      <p class="billboard__description">{{ settings.contact_support_paragraph }}</p>
      <div class="billboard__button">
        <button class="button open-ticket-modal" role="button">{{ settings.contact_support_button_text }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-container">
  <div class="modal modal--large modal--outside-scroll" role="dialog" id="ticket-modal" aria-modal="true" aria-labelledby="ticket-modal__title">
    <button aria-label="Close Modal" class="modal__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" aria-hidden="true">
        <path d="M7.9785156,5.9804688 C7.16502514,5.98147612 6.43317991,6.47506297 6.12743766,7.22891271 C5.82169542,7.98276245 6.00296867,8.84668688 6.5859375,9.4140625 L12.171875,15 L6.5859375,20.585938 C6.06346335,21.0875729 5.85299946,21.8324702 6.03571422,22.5333498 C6.21842897,23.2342293 6.76577131,23.7815715 7.46665092,23.964286 C8.16753053,24.1470005 8.91242778,23.9365363 9.4140625,23.414062 L15,17.828125 L20.585938,23.414062 C21.0875711,23.9365436 21.832472,24.1470133 22.5333561,23.9642996 C23.2342402,23.781586 23.781586,23.2342402 23.9642996,22.5333561 C24.1470133,21.832472 23.9365436,21.0875711 23.414062,20.585938 L17.828125,15 L23.414062,9.4140625 C24.0055828,8.8390798 24.1834396,7.95993066 23.8619313,7.20023704 C23.5404229,6.44054343 22.785505,5.95615194 21.960938,5.9804688 C21.4413408,5.99595105 20.9481812,6.21310935 20.585938,6.5859375 L15,12.171875 L9.4140625,6.5859375 C9.03704784,6.19838589 8.51919671,5.97997251 7.9785156,5.9804688 Z"/>
      </svg>
    </button>

    <div class="modal__inner">

      <header class="modal__header">
        <h3 id="ticket-modal__title">Submit a Ticket</h3>
      </header>

      <div class="modal__content">
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "4651150",
        	formId: "0c1f76b2-36cb-41e6-a812-c43eeff93bf7"
        });
        </script>
      </div>
    </div>
  </div>
  <div class="modal-backdrop"></div>
</div>
