<nav class="sub-nav">
  <div class="container">
    {{breadcrumbs}}
  </div>
</nav>

<div class="search-results">
  <header data-name="{{ t 'search_results' }}" class="page-header">
    <div class="container">
      <div class="category-name">
        <h1>{{t 'search_results'}}</h1>
        <p class="page-header-description">{{t 'results' query=query count=results_count}}</p>
      </div>
    </div>

    <div class="bubble-1 rellax" data-rellax-speed="7"></div>
    <div class="bubble-2 rellax" data-rellax-speed="5"></div>
    <div class="bubble-3 rellax" data-rellax-speed="2"></div>
  </header>


  <div class="container">
    <section class="search-results-column">
      {{#if article_results}}
        <ul class="search-results-list">
          {{#each article_results}}
            <li class="search-result">
              <a href="{{url}}" class="search-result-link">{{title}}</a>
              <ul class="meta-group">
                <li class="meta-data">{{date created_at timeago=true}}</li>
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    {{#each path_steps}}
                      <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </li>

              </ul>
              <div class="search-result-description">{{text}}</div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results' query=query}}
          {{#link 'help_center'}}
            {{t 'browse_knowledge_base'}}
          {{/link}}
        </p>
      {{/if}}
    </section>
    {{pagination}}
  </div>
</div>

<div class="billboard billboard--left">
  <div class="container">
    <div class="billboard__illustration">
      <img src="{{asset 'find-help.png'}}" alt="">
    </div>

    <div class="billboard__content">
      <h2 class="billboard__heading">{{ settings.contact_support_heading }}</h2>
      <p class="billboard__description">{{ settings.contact_support_paragraph }}</p>
      <div class="billboard__button">
        <a class="button" role="button" href="{{ settings.contact_support_button_destination }}">{{ settings.contact_support_button_text }}</a>
      </div>
    </div>
  </div>
</div>
